<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
      body {
        background: #333; /* Цвет фона */
        color: #fc0; /* Цвет текста */
      }
    </style>
</head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CSTV</a>

	{% if "username" in session %}
		<a class="navbar-brand" href="/index">Main</a>
		{% if my_page %}
		<a class="navbar-brand" href="/edit">Edit</a>
		{% else %}
		<a class="navbar-brand" href="/{{cur_user_id}}">My Profile</a>
		{% endif %}
    	<a class="navbar-brand" href="/logout">Exit</a>
	{% endif %} 
     
      </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>